.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 13px;
    
}

img {
    width: 80%;
}

.one {
    justify-content: center;
    align-items: center;  
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
}
