body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(217, 216, 217);
}

.center {
    text-align: center;
    background-color: rgb(217, 216, 217);
    padding: 20px;
    border-radius: 10px;
    animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 24px;
}
